# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# pug template cache
jaded.views.dart

# compiled/traspiled js
*.dart.js
*.dart.js.deps
*.dart.js.map
